.DS_Store
.Spotlight-V100
.Trashes
lib-cov
lcov.info
pids
logs
results
build
.grunt
node_modules
bower_components
tmp
*.sublime-project
*.sublime-workspace
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.AppleDouble
.LSOverride
._*